.overviewContainer {
  display: flex;
  gap: 20px; // Optional: Abstand zwischen Bild und Text

  .imageContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    flex: 0 0 60%;
  }

  .productImage {
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
  }
}
