.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  //padding: 0 1rem;
  max-width: 1150px;
}

.cardContainer {
  width: 200px;
  height: 323px;
  display: grid;
  grid-template-rows: 2fr 1.2fr 2fr 0.5fr;
  border-radius: 20px;
  overflow: hidden;
  //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  flex-shrink: 0;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    //.productImage {
    //  transform: scale(1.02);
    //}
  }

  .imageContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
  }

  .productImage {
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .title {
    margin: 0;
    padding: 12px 16px 0px;
    font-size: 16px;
    font-weight: 600;
    color: var(--font-primare-color-tow);
    text-align: left;
    line-height: 1.3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  .description {
    margin: 0 0 10px 0;
    padding: 0 16px 0px;
    font-size: 14px;
    color: #666;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
  }

  .priceContainer {
    display: flex;
    justify-content: space-between;
    //background-color: rgba(107, 114, 128, 0.06);
    padding: 10px 20px 10px 10px;
    margin: 0;
    button {
      margin: 0 !important;
    }
    .price {
      text-align: right;
      align-content: center;
      margin-bottom: 5px;
      color: #666;
      font-size: 14px;
      white-space: nowrap;
    }
  }

  button {
    margin: 8px 16px 16px;
    align-self: end; // Button unten positionieren
    justify-self: end; // Button rechts ausrichten
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background: #0056b3;
    }
  }
}

// Responsive Anpassungen
@media (max-width: 768px) {
  .cardContainer {
    .title {
      font-size: 14px;
      padding: 10px 12px 6px;
      line-height: 1.3;
    }

    div {
      font-size: 12px;
      padding: 0 12px 6px;
    }

    hr {
      margin: 0 12px;
      width: calc(100% - 24px);
    }

    button {
      font-size: 12px;
      padding: 6px 12px;
      margin: 6px 12px 12px;
    }
  }
}

@media (max-width: 560px) {
  .cardContainer {
    width: 250px;
    height: 388px;
    grid-template-rows: 2fr 1fr 1.4fr 0.5fr;
  }
}
@media (max-width: 468px) {
  .cardContainer {
    width: 90%;
    height: auto;
    grid-template-rows: 2.2fr 0.5fr 1fr 0.5fr;
  }
}
