.carousel {
  width: 100%;
  .carouselItem {
    .image {
      border-radius: 20px;
    }
  }
}

.blurContainerLight {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); // Safari Support
  max-width: 1150px;

  padding: 20px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.07);
  color: #2d3748;
  margin-right: -15%;
  margin-left: 30%;
  border-radius: 20px;

  p {
    margin: 0;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
    text-align: left;
  }
}

@media (max-width: 1150px) {
  .carousel {
    .carouselItem {
      .image {
        border-radius: 0;
      }
    }
  }
}
