@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--font-primare-color);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Josefin Sans', sans-serif;

  p {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 23px;
  }

  a {
    color: var(--font-primare-color);
    text-decoration: none;
  }

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 43px;
    font-size: 38px;
    font-weight: 600;
    color: var(--font-primare-color);
  }
  h2 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 43px;
    font-size: 28px;
    font-weight: 400;
    color: var(--font-primare-color);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  // Todo:  feature: dark mode when time
  html {
    color-scheme: dark;
  }
}
