@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
:root {
  --background: #FCFAF7;
  --foreground: #171717;
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-lilita: 'Lilita One', cursive;
  --font-titillium: 'Titillium Web', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #3a3838;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #FCFAF7;
}

body {
  color:#171717;
  background: #FCFAF7;
  /*font-family: Arial, Helvetica, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Josefin Sans', sans-serif;

  p{
    font-family: "Josefin Sans", sans-serif;
    line-height: 23px;
  }

  h1{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 43px;
    font-size: 38px;
    font-weight: 600;
    color: #171717;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
